{% extends 'base.html' %}

{% block head %}
<title>confirm payment</title>
{% endblock %}
<body>
    
    {% block body %}
    <header class="header">
        <nav>
            <h1 class="heading">Malipo</h1>
        </nav>

    </header>

    <div class="total">
        <h2>Check an Mpesa prompt on your phone</h2>
        <h3>Click on confirm payment once you have completed the transaction to proceed</h3>
        <form action="" method="post">
            
            <br>
            <button class="pay_btn" type="submit">Confirm Payment</button>
        </form>
        
    </div>
    
    {% endblock %}
    
</body>
